body {
  font-family: Arial, Verdana, sans-serif
}

.title {
  font-weight: bold
}


ul {
  list-style-image: url("assets/images/check-circle.png");
}

.head {
  background-color: aqua;
}

.even {
  background-color: aquamarine;
}

 td {
  text-align: left;
  padding: 10px;
}

.contact {
  width: 600px;
  margin-top: 40px;
}

.contact-desc {
  margin-left: 40px;
  margin-right: 50px;
}
