.home-box {

	/* background-color: aquamarine; */
	margin-left: 100px;
	margin-right: 100px;
	display: flex;
	height: 663px;
	border: 1px solid #c3c3c3;
}

.home-box1{
	flex-basis: 620px;
	border: 1px solid #c3c3c3;
}

.home-box1{
	flex-basis: 620px;
	border: 1px solid #c3c3c3;
}
