p.menu{
    margin-right: 40px;
    font-size: 32px;
}

ul.menu1{
    margin-right: 24px;
}

.search{
    width: 577px;
    height: 48px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;
    height: 20px;
}

.cart{
    margin-right: 14px;
}

button.box{
    width: 210px;
    height: 52px;
    border-radius: 62px;
    background-color: black;
    
}

p.buton{
    color: white;
}

