/* font family font size */

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 1000px;
  margin: auto;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 400%;
  /* text-transform */
  text-transform: lowercase;
  /* line height sam leading  */
  line-height: 1rem;
}

/* font face  */

@font-face {
  font-family: "Integral CF";
  src: url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.eot");
  src: url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.svg#Integral CF Regular")format("svg");
}

.text {
  font-family: Integral CF;
}

/* bold  */

.text-bold {
  font-weight: bold;
}

/* font style  */

.text-style {
  font-style: oblique;
  text-transform: capitalize;

}

.text-style-italic {
  font-style: italic;
  text-transform: uppercase;
}

/* text-decoration */

.decoration-underline {
  text-decoration: underline;
}

.decoration-overline {
  /* text-decoration: overline; */
  text-decoration: line-through;
    /* text-decoration: blink; */
}

/* alignment  */

.alignment-left {
  text-align: right;
}

.alignment-center {
  text-align: center;
}

.alignment-justify {
  text-align: justify;
}