.arrival {
  padding-top: 50px;
  padding-bottom: 40px;
  margin-left: math.div(16, 390) * 100%;
  text-align: center;
  border-bottom: 1px solid $line-color;

  &__title {
    margin-bottom: 32px;
  }

  &__products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;

    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__product {
    margin-bottom: 24px;
    text-align: left;
  }

  &__btn {
    padding: 13.5px 153.5px;
  }
}

@media (min-width: 1440px) {
  .arrival {
    padding: 72px 0 64px 0;

    &__title {
      margin-bottom: 55px;
    }

    &__product {
      margin-bottom: 36px;
    }

    &__btn {
      padding: 15px 80px;
    }
  }
}