.banner {
  background-color: $bg-secondary;
  font-family: Satoshi;
  min-width: 390px;
  font-size: 20px;

  &__desc {
    padding-top: 1em;
  }

  &__content {
    font-size: math.div(14, 20)*1em;
    max-width: 380px;
    padding-top: 20px;
    padding-bottom: 24px;
    color: $primary-color;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    max-width: 278px;
    margin: 20px 40px;
    justify-content: space-between;
  }

  &__info-num {
    font-size: math.div(24, 20) * 1em;
    font-weight: 700;
    padding: 6px 0;
  }

  &__info-desc {
    display: block;
    font-size: math.div(12, 24) * 1em;
    color: $primary-color;
    font-weight: 400;
  }

  &__info--center {
    flex-basis: 100%;
    text-align: center;
  }

  &--special {
    border-left: 1px solid $line-color;
    padding-left: 27.5px;
  }

  &__img {
    width: 100%;
    max-width: 390px;
  }

  &__star {
    display: none;
  }
}

@media (min-width: 1024px) {
  .banner {
    background-image: url('../assets/images/banners/rectangle.png');
    background-repeat: no-repeat;

    &__desc {
      padding-top: 103px;
    }

    &__item {
      display: grid;
      grid-template-columns: 620px 1fr;
    }

    &__content {
      font-size: math.div(16, 20)*1em;
      max-width: 545px;
      padding-top: 32px;
      padding-bottom: 32px;
      color: $primary-color;
    }

    &__info {
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 48px 0px 103px 0px;
      max-width: 596px;
      margin: 0;
    }

    &__info-num {
      font-size: math.div(40, 20)*1em;
      font-weight: 700;
    }

    &__info-desc {
      font-size: math.div(16, 40) * 1em;
      font-weight: 400;
      text-align: left;
    }

    &__img {
      display: none;
    }

    &--special {
      padding-right: 27.5px;
      border-right: 1px solid $line-color;
    }

    &__star {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: end;
      margin-top: 86px;
    }

    &__star--center {
      margin-top: 211px;
    }

    &__star--right {
      margin-left: auto;
    }
  }
}