.banner {
  background-color: $bg-secondary;
  font-family: Satoshi;
  min-width: toRem(390px);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;

  &__wrapper {
    min-height: toRem(405px);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  &__content {
    padding-top: toRem(40px);
    max-width: math.div(358, 390) * 100%;
    display: flex;
    flex-wrap: wrap;
    gap: toRem(20px);
  }

  &__img {
    background-image: url('../assets/images/banners/bg-banner.svg');
    min-width: 390px;
    min-height: 448px;
    display: flex;
    justify-content: space-between
  }

  &__img-left {
    margin-top: 137px;
    margin-left: 27px;
  }

  &__img-right {
    margin-top: 40px;
    margin-right: 21px;
  }
}

@media (min-width: 1440px) {
  .banner {
    background-image: url('../assets/images/banners/rectangle.png');
    width: 100%;
    flex-wrap: nowrap;

    &__wrapper {
      width: math.div(1240, 1440)*100%;
      margin: 0 auto;
      flex-wrap: nowrap;
      max-height: toRem(663px);
    }

    &__content {
      padding: toRem(103px) 0;
      min-width: toRem(596px);
      max-width: toRem(650px);
      margin: 0;
      gap: toRem(32px);
    }

    &__img {
      background-image: none;
      max-height: 100%;
    }

    &__img-left {
      @include img-size(toRem(56px), toRem(56px));
      margin-top: 297px;
      margin-left: 0px;
      margin-right: 443px;
    }

    &__img-right {
      @include img-size(toRem(104px), toRem(104px));
      margin-top: 86px;
      margin-right: 0;
    }
  }
}