.banner {
  background-color: $bg-secondary;
  font-family: Satoshi;
  min-width: 19.5rem;

  &__desc {
    padding-top: 2em;
  }

  &__content {
    max-width: 18rem;
    font-size: 0.7em;
    padding: 1rem 0;
    color: $primary-color;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    max-width: 15rem;
    padding: 1rem 0;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__info-num {
    font-size: 1.2em;
    font-weight: 700;
    padding: 6px 0;
  }

  &__info-desc {
    display: block;
    font-size: 0.6em;
    color: $primary-color;
    font-weight: 400;
  }

  &__info--center {
    margin: 0 auto;
  }

  &--special {
    border-left: 1px solid $line-color;
    padding-left: 1rem;
  }

  &__img {
    width: 100%;
    max-width: 19.5rem;
  }

  &__star {
    display: none;
  }
}

@media (min-width: 1440px) {
  .banner {
    background-image: url('../assets/images/banners/rectangle.png');
    background-repeat: no-repeat;

    &__desc {
      padding: 3.2rem 0 2.125rem 0;
    }

    &__item {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__content {
      font-size: 0.5em;
      max-width: 17rem;
      color: $primary-color;
    }

    &__info {
      flex-wrap: nowrap;
      margin-top: 0.5rem;
      max-width: 20.75rem;
      text-align: left;
      gap: 1rem;
    }

    &__info-num {
      font-size: 1.25em;
      font-weight: 700;
    }

    &__info-desc {
      font-size: 0.4em;
    }

    &__img {
      display: none;
    }

    &--special {
      padding-right: 1rem;
      border-right: 1px solid $line-color;
    }

    &__star {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: end;
      margin-top: math.div(86, 32) * 1rem;
    }

    &__star--center {
      margin-top: 6.6rem;
    }

    &__star--right {
      margin-left: auto;
    }
  }
}