.brand {
  background-color: $bg-color;
  padding: toRem(39px) 0;
  min-width: toRem(390px);

  &__item, &__item-desktop {
    flex-wrap: wrap;
    @extend %flexbox-items-space-between ;
  }

  &__img {
    display: none;
  }

  &--center {
    width: 100%;
    @extend %flexbox-items-centered;
    justify-content: center;
    gap: math.div(37, 358) * 100%;
    padding-top: toRem(20px);
  }
}

@media (min-width: 1440px) {
  .brand {
    &__item {
      display: none;
    }
  }

  .brand__img {
    display: block;
  }
}