.brand {
  background-color: $bg-color;
  padding: toRem(39px) 0;
  min-width: toRem(390px);

  &__wrapper {
    flex-wrap: wrap;
    @extend %flexbox-items-space-between;
    width: math.div(358, 390) * 100%;
  }

  &__img-desktop {
    display: none;
  }

  &--center {
    width: 100%;
    @extend %flexbox-items-centered;
    justify-content: center;
    gap: math.div(37, 358) * 100%;
    padding-top: toRem(20px);
  }
}

@media (min-width: 1440px) {


  .brand--center {
    display: none;
  }

  .brand__img {
    display: none;
  }

  .brand__img-desktop {
    display: block;
  }
}