.browse {
  background-color: $bg-secondary;
  text-align: center;
  border-radius: 1rem;
  margin: 0 auto;
  padding: toRem(40px) 0 toRem(13px) 0;
  width: math.div(358, 390) * 100%;
  margin-bottom: 50px;

  &__title {
    padding: 0 56px;
  }

  &__wrapper {
    flex-wrap: wrap;
    gap: toRem(8px);
    padding: toRem(28px) 0 toRem(13px);
    justify-content: center;
    @extend %flexbox-items-centered;
  }

  &__img {
    border-radius: toRem(20px);
    flex-basis: 50%;

  }

  &__wrapper-desktop {
    display: none;
  }
}

@media (min-width: 1440px) {
  .browse {
    padding: toRem(70px) 64px toRem(76px) 64px;
    width: 100%;
    margin-bottom: 80px;

    &__img {
      flex-basis: 0;
      max-width: 100%;
    }

    &__wrapper-desktop {
      display: flex;
      gap: toRem(20px);
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 64px;
    }

    &__wrapper {
      display: none;
    }
  }
}