.comment {
  margin: toRem(15px) 0 toRem(50px) 0;
  font-family: Satoshi;
  overflow: hidden;
  width: math.div(358, 390) * 100%;
  margin: 0 auto;

  &__box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: toRem(20px);
  }

  &__head {
    @extend %flexbox-items-space-between;
    align-items: flex-end;
  }

  &__list {
    gap: toRem(20px);
    margin-top: toRem(24px);
  }

  &__list-name {
    margin-top: toRem(15.5px);
    margin-bottom: toRem(11.5px);
  }

  &__action {
    display: flex;
  }
}

@media (min-width: 1440px) {
  .comment {
    margin: toRem(10px) 0 toRem(80px) 0;

    &__list {
      gap: toRem(20px);
      margin-top: toRem(40px);
    }

    &__list-name {
      margin-top: toRem(15px);
      margin-bottom: toRem(12px);
    }
  }
}