.comment {
  font-family: $font-secondary;
  margin-bottom: toRem(49.81px);
  width: math.div(358, 390) *100%;

  &__heading {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: toRem(24px);
  }

  &__action {
    display: flex;
    gap: toRem(16px);
  }

  &__btn {
    border: 1px solid $text-color;
    background-color: $text-color;

    &:hover {
      background-color: $primary-color;
      color: $secondary-color;
    }

    &:active {
      box-shadow: 2px 2px 5px $primary-color
    }
  }

  &__title {
    font-size: toRem(32px);
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    gap: toRem(20px);
  }
}

.comment-item {
  padding: toRem(24px);
  border: 1px solid $line-color;
  border-radius: toRem(20px);
  min-width: toRem(358px);
  align-items: center;

  &__name {
    font-size: toRem(16px);
    font-weight: 700;
    margin-bottom: toRem(11.5px);
    display: flex;
    align-items: center;
  }

  &__img {
    @include img-size(toRem(19px), toRem(19px));
    margin-left: toRem(5.75px);
  }

  &__desc {
    font-size: (14px);
    font-weight: 400;
    color: $primary-color;
  }
}

.comment-feedback {
  margin-bottom: toRem(12px);
}


@media (min-width: $desktop) {
  .comment {
    width: 100%;
    margin-bottom: toRem(80.42px);

    &__heading {
      margin-bottom: toRem(40px);
    }

    &__title {
      font-size: toRem(48px);
    }
  }

  .comment-item {
    padding: toRem(28px) toRem(32px);

    &__name {
      font-size: toRem(20px);
      margin-bottom: toRem(12px);
    }

    &__img {
      @include img-size(toRem(19.5px), toRem(19.5px));
      margin-left: toRem(6.25px);
    }

    &__desc {
      font-size: toRem(16px);
      font-weight: 400;
    }
  }

  .comment-feedback {
    margin-bottom: toRem(15px);
  }
}