@function toRem($pxValue) {
  @return math.div($pxValue, 16) * 0.8rem;
}

.navbar {
  display: flex;
  font-family: Satoshi;
  padding: toRem(20) 0;
  align-items: center;
  gap: toRem(12);

  &__option {
    display: flex;
    margin-left: auto;
    gap: toRem(10);
  }

  &__list,
  &__search {
    display: none;
  }

  &__nav {
    border: none;
    background-color: $text-color;
  }
}

@media (min-width: 1440px) {
  @function toRem($pxValue) {
    @return math.div($pxValue, 32) * 1rem;
  }

  .navbar {
    display: grid;
    grid-template-columns: toRem(160) toRem(321) 1fr toRem(62);
    gap: toRem(40);
    font-size: 0.5rem;
    align-items: center;

    &__nav,
    &__option-search {
      display: none;
    }

    &__option {
      margin-left: 0;
      gap: 0;
      justify-content: space-around;
    }

    &__logo {
      width: 100%;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__search {
      display: block;
      height: toRem(48);
      border-radius: toRem(62);
      width: 100%;
      background-image: url('../assets/images/headers/search.svg');
      background-repeat: no-repeat;
      background-position: toRem(12) toRem(12);
      padding: toRem(2) toRem(52);
      border: 1px solid $secondary-color;
    }
  }
}