.product {
  margin: toRem(40) auto 0 ;
  text-align: center;
  font-family: Satoshi;

  &__item {
    margin-top: toRem(32);
    display: flex;
    gap: toRem(16);
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__card {
    text-align: left;
    &-img {
      margin-bottom: toRem(10);
      width: toRem(198);
      max-height: toRem(200);
      border-radius: toRem(12.42);
    }

    &-name {
      font-size: 0.8rem;
      font-weight: 700;
    }
  }

  &__evaluate {
    display: flex;
    align-items: center;
    gap : toRem(4.44);
    padding: toRem(4) 0;

    &-img {
      width: toRem(15.47);
      height: toRem(15.47);
    }

    &-num {
      font-size: 0.6rem;
    }

    &-desc {
      color: $primary-color;
    }
  }

  &__price {
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    gap: toRem(5);
    align-items: center;

    &-sell {
      color: $decs-color;
      text-decoration: line-through;
    }

    &-precent {
      background-color: $bg-product;
      font-size: 0.5rem;
      border-radius: toRem(62);
      color: $product-color;
      font-weight: 500;
      padding: toRem(6) toRem(14);
    }
  }

  &--bottom {
    padding-bottom: toRem(15);
    border-bottom: 1px solid $line-color;
  }
}

@media (min-width: 1440px) {
  @function toRem($pxValue) {
    @return math.div($pxValue, 32) * 1rem;
  }
  .product {
    margin: toRem(62) auto 0 ;

    &__item {
      margin-top: toRem(55);
      justify-content: space-between;
      overflow: none;
    }

    &__card {
      &-img {
        width: toRem(295);
        max-height: toRem(298);
        border-radius: toRem(20);
      }

      &-name {
        font-size: math.div(20,32) * 1rem;
      }
    }

    &__evaluate {
      gap: toRem(5.31);
      padding: toRem(8) 0;

      &-img {
        width: toRem(18.49);
        height: toRem(18.49);
      }

      &-num {
        font-size: math.div(14,32) * 1rem;
      }
    }

    &__price {
      font-size: 0.75rem;
    }

    &--bottom {
      padding-bottom: toRem(18);
    }
  }
}