.product {
  margin: toRem(40px) auto 0;
  text-align: center;
  font-family: Satoshi;
  padding-bottom: 15px;

  &__box {
    margin-top: toRem(32px);
    margin-bottom: toRem(24px);
    @extend %flexbox-items-centered;
    gap: toRem(16px);
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &--center {
    padding-bottom: toRem(40px);
    border-bottom: 1px solid $line-color;
  }
}

@media (min-width: 1440px) {
  .product {
    margin: toRem(62px) auto 0;

    &__box {
      margin-top: toRem(55px);
      margin-bottom: toRem(36px);
      justify-content: space-between;
      overflow: none;
    }

    &--center {
      padding-bottom: toRem(64px);
    }
  }
}