.sign-up {
  background-color: $bg-color;
  font-family: Satoshi;
  min-width: toRem(390px);

  &__item {
    margin: 0 auto;
    font-size: toRem(20px);
  }

  &__link {
    color: $bg-color;
  }

  &__desc {
    font-size: 0.6rem;
    color: $text-color;
    text-align: center;
    padding: toRem(9px) 0;
  }

  &__advertise {
    color: $text-color;
    text-decoration: none;
    border-bottom: 1px solid;
  }

  &__off {
    display: none;
    padding: toRem(9px) 0;
  }
}

@media (min-width: $desktop) {
  .sign-up {

    &__item {
      display: flex;
      line-height: normal;
    }

    &__desc {
      font-size: toRem(14px);
      margin: 0 auto;

    }

    &__off {
      display: block;
    }
  }
}