.sign-up {
  background-color: $bg-color;
  font-family: Satoshi;
  text-align: center;
  font-size: 20px;
  min-width: toRem(390);

  &__text {
    font-size: 0.6rem;
    color: $text-color;
    text-align: center;
    padding: toRem(9) 0;

  }

  &__link {
    color: $text-color;
  }

  &__icon {
    display: none;
    padding: toRem(9) 0;
  }
}

@media (min-width: 1440px) {
  @function toRem($pxValue) {
    @return math.div($pxValue, 32) * 1rem;
  }

  .sign-up {
    display: flex;
    line-height: normal;

    &__text {
      font-size: toRem(14);
      margin: 0 auto;

    }

    &__icon {
      display: block;
    }
  }
}