.top-selling {
  padding-top: 40px;
  padding-bottom: 50px;
  margin-left: math.div(16, 390) * 100%;
  text-align: center;

  &__title {
    margin-bottom: toRem(32px);
    font-size: toRem(32px);
  }

  &__products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: toRem(16px);

    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__product {
    margin-bottom: toRem(24px);
    text-align: left;
  }

  &__btn {
    padding: toRem(15px)toRem(153.5px);
    margin-right: math.div(16, 390) * 100%;
    width:  math.div(358, 374) * 100%;
  }
}

@media (min-width: $desktop) {
  .top-selling {
    margin: 0;

    padding: toRem(64px) toRem(0px) toRem(80px) toRem(0px);

    &__title {
      margin-bottom: toRem(55px);
      font-size: toRem(48px);
    }

    &__product {
      margin-bottom: toRem(36px);
    }

    &__btn {
      padding: (15px) toRem(80px);
      width: max-content;
      margin-right: 0;
    }
  }
}