.arrivals {
  width: 1440px;
  margin-left: 100px;
  margin-right: 100px;
}

.arrival-h2 {
  height: 58px;
  display: flex;
  margin-top: 70px;
  margin-left: 418px;
  margin-right: 418px;
  font-family: Integral CF;
  font-size: 48px;
}

.arrivals li {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  width: 296px;
  height: 444px;
  padding: 10px;
}

.arrivals img {
  border-radius: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 296px;
  height: 299px;
}

.arrival-name {
  color: #000;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.arrival-box {
  display: flex;
  align-items: center;
  width: 180px;
  justify-content: space-between;
}

.arrival-price {
  font-family: Satoshi;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.arrival-sell {
  font-family: Satoshi;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: line-through;
}

.arrival-percent {
  font-family: Satoshi;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 62px;
}

.arrival-star {
  width: 18px !important;
  height: 18px !important;
  margin-top: 0px !important;
}

.arrival-box-star {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.arrival-eval {
  margin-left: 13px;
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.arrival-span {
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.arrival-button {
  width: 218px;
  height: 52px;
  margin-top: 20px;
  margin-left: 510px;
  margin-right: 510px;
  border-radius: 62px;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

hr {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 79px;
  margin-bottom: 54px;
}