.banner {
  display: flex;
  height: 663px;
  width: 1440px;
  background-image: url("../assets/images/rectangle.png");
}

.container {
  flex-basis: 720px;
}

.icon {
  flex-basis: 620px;
  display: flex;
}

.caption {
  font-size: 64px;
  font-family: Integral CF;
  font-weight: bold;
  width: 577px;
  height: 173px;
  margin-top: 103px;
  padding: 0;
  text-indent: cap alphabetic;
  padding-bottom: both;
  line-height: 57px;
  margin-left: 100px;
}

.content {
  margin-top: 32px;
  width: 550px;
  height: 33px;
  font-family: Satoshi;
  margin-left: 100px;
}

.button-primary {
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  padding: auto;
  width: 210px;
  height: 52px;
  margin-top: 32px;
  border-radius: 62px;
  border: none;
  margin-left: 100px;
}

.tbl {
  margin-top: 48px;
  width: 596px;
  margin-left: 100px;
}

.tbl-th {
  font-family: Satoshi;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  line-height: 30px
}

.tbl-td {
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.tbl-tr {
  text-align: left;
  margin-right: 32px;
}

.icon-left {
  width: 56px;
  height: 56px;
  margin-left: 30px;
  margin-top: 297px;
}


.icon-right {
  float: right;
  margin-top: 86px;
  margin-left: 490px;
  margin-right: 81px;
}