/* color for sign up */

.sign-up {
  background-color: black;
}

.text {
  color: #FFF;
}

.link {
  color: #fff;
  box-shadow: 0 1px white;
}

.button-sign-up {
  background-color: black;
}

/* color for header */

.search {
  border: 1px none #F0F0F0;
  background-color: #F0F0F0;
}

.drop-list {
  border: #F0F0F0;
}

/* color for banner */

.button-primary {
  background-color: black;
  color: #FFF;
}
