/* color for sign up */

.sign-up_section  {
  background-color: black;
}

.sign-up_section p {
  color: #FFF;
}

.sign-up_section a {
  color: #fff;
  box-shadow: 0 1px white;
}

.sign-up_section button {
  background-color: black;
}


/* color for header */

.header_section .search {
  border: 1px none #F0F0F0;
  background-color: #F0F0F0;
}


.header select {
  border: #F0F0F0;
}

/* color for home */

.banner_section .container button {
  background-color: black;
  color: #FFF;
}

.brand {
  background-color: black;
}

/* color for arivals & top selling */


.arrival-sell {
  color: rgba(0, 0, 0, 0.40);
}

.arrival-percent {
  color: #F33;
  background: rgba(255, 51, 51, 0.10);
}

.arrival-span {
  color: rgba(0, 0, 0, 0.60);
}

.arrival-button {
  border: 1px solid rgba(0, 0, 0, 0.10);
}

/* color for brower */

.browse {
  background-color: #F0F0F0;
}