.home-box {

  /* background-color: aquamarine; */

  display: flex;
  height: 663px;
  width: 1440px;
  /* border: 1px solid #c3c3c3; */
  background-image: url("../assets/images/Rectangle.png");

}

.home-box1 {
  margin-left: 100px;
  flex-basis: 620px;
  margin-top: 103px;
  margin-bottom: 103px;
  /* border: 1px solid #c3c3c3; */
}
.home-box2 {
  flex-basis: 620px;
  display: flex;
  /* border: 1px solid #c3c3c3; */
} 
li.home {
  display: inline-block;
  margin-left: 0px;
}

p.find {
  color: #000;
  font-size: 64px;
  font-family: "Integral CF";
  font-weight: bold;
  width: 577px;
  height: 173px;
  margin: 0;
  padding: 0;
  text-indent: cap alphabetic;
  padding-bottom: both;
  line-height: 57px
}



p.bowser {
  margin-top: 32px;
  width: 545px;
  height: 33px;
  font-family: "Satoshi";


}

button.home {
  width: 210px;
  height: 52px;
  margin-top: 32px;
  background-color: #000;
  border-radius: 62px;
  background-color: black;
  border: none;
}

p.put {
  color: #FFF;
  font-family: "Satoshi";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: auto;
  position: 16px 54px;
}


table.home {
  margin-top: 48px;
  width: 596px;
}

th.home {
  color: #000;
  font-family: "Satoshi";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  line-height: 30px
}

div.home-browws

td.home {
  color: rgba(0, 0, 0, 0.60);

  font-family: "Satoshi";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 137.5% */
}

tr.home {
  text-align: left;
  margin-right: 32px;
}

img.star1 {
  width: 56px;
  height: 56px;
  margin-left: 30px;
  margin-top: 310px;
}

.home-box3 {
  flex-basis: 310px;
  /* border: 1px solid #c3c3c3; */
}
.home-box4 {
  flex-basis: 310px;
  /* border: 1px solid #c3c3c3; */
}

img.star2 {
  margin-left: 225px;
  margin-top: 86px;
}