.menu-box {
	margin-left: 100px;
	margin-right: 100px;
	display: flex;
	width: 1240px;
	height: 48px;
	align-items: center;
	margin-top: 22px;
	margin-bottom: 22px;
  flex-shrink: 0;
}

.shop-co {
	font-weight: bold;
	font-family: Integral CF;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-right: 40px;
}

.li-menu {
	margin-right: 24px;
	display: inline-flex;
	font-family: Satoshi;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.li-menu-brand {
	display: inline-flex;
	margin-right: 40px;
	font-family: Satoshi;
}

.input-menu {
	width: 480px;
	height: 48px;
	border-radius: 62px;
	background-image: url("../assets/images/search.svg");
	background-repeat: no-repeat;
	background-position: 12px 12px;
	padding: 2px 52px;
	position: 662px;
}

.img-cart {
	height: 24px;
	width: 24px;
	margin-left: 40px;
	margin-right: 14px;
}

.img-login {
	height: 24px;
	width: 24px;
}

.select-home {
	height: 16px;
	width: 16px;
}

