.sign-up {
  max-height: 38px;
  width: 1440px;
  height: 38px;
  display: flex;
  align-items: center;
}

.text {
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 535px;
  margin-right: 430px;
  width: 351px;
}

.link {
  text-decoration-line: none;
}

.button-sign-up {
  border: none;
  width: 20px;
  height: 20px;
}