/*------------------------------------*\
  #LINK
\*------------------------------------*/

@import url("../css/reset.css");
@import url('https://fonts.cdnfonts.com/css/satoshi');





/* url font  */

@font-face {
  font-family: "Integral CF";
  src: url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.eot");
  src: url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.svg#Integral CF Regular")format("svg");
}





/*------------------------------------*\
  #DEFINE COLOR VARIABLE
\*------------------------------------*/

:root {
  --primary-color: black;
  --secondary-color: #f0f0f0;
  --text-color: #fff;
  --num-color: rgba(0, 0, 0, 0.40);
  --product-color: #ff3333;
  --nav-color: rgba(0, 0, 0, 0.60);
  --btn-primary: #e7e7e7;
  --btn-secondary: #82b6c2;
  --line-color: rgba(0, 0, 0, 0.10);
}





/*------------------------------------*\
  # COMPONENTS
\*------------------------------------*/


*{
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: 0 auto;
  font-family: Satoshi;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.btn {
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  padding: auto;
  width: 210px;
  height: 52px;
  border-radius: 62px;
  border: none;
}

.title {
  font-family: Integral CF;
}

input[type=text]:focus {
  border: none none var(--btn-secondary);
}



/*------------------------------------*\
  #SECTION SIGN UP
\*------------------------------------*/

.sign-up {
  display: flex;
  background-color: var(--primary-color);
}

.text {
  font-size: 14px;
  font-weight: 300;
  margin: 0 415px 0 544px;
  color: var(--text-color);
  padding: 9px;
}

.link {
  text-decoration-line: none;
  color: var(--text-color);
  box-shadow: 0 1px var(--text-color);
  text-decoration: none;
}

.link-primany {
  text-decoration: none;
  color: var(--primary-color);
}

.link-secondary {
  text-decoration: none;
  color: var(--text-color);
}






/*------------------------------------*\
  #SECTION HEADER
\*------------------------------------*/

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
  gap: 40px;
  align-items: center;
}

.nav-logo {
  font-family: Integral CF;
  font-size: 32px;
  font-weight: 700;
}

.nav {
  display: flex;
  width: 321px;
  justify-content: space-between;
}

.nav-item {
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-search {
  width: 577px;
  height: 48px;
  border-radius: 62px;
  background-image: url("../assets/images/search.svg");
  background-repeat: no-repeat;
  background-position: 12px 12px;
  padding: 2px 52px;
  border: var(--search-border);
  background-color: var(--secondary-color);
}

.drop-list {
  margin-top: 4px;
  width: 16px;
  border: var(--secondary-color);
}





/*------------------------------------*\
  #SECTION BANNER
\*------------------------------------*/

.banner-section {
  background-image: url("../assets/images/rectangle.png");
  height: 663px;
}

.banner-item {
  width: 1240px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.banner-content {
  width: 545px;
  color: var(--nav-color);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding: 16px;
}

.primary-title {
  padding: 103px 0 16px 0;
  font-size: 64px;
  font-weight: bold;
  width: 577px;
  padding-bottom: both;
  line-height: 57px;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--btn-secondary);
  color: var(--primary-color);
}

.info {
  margin-top: 48px;
  display: flex;
  width: 596px;
  justify-content: space-between;
  padding-bottom: 103px;
}

.info-num {
  font-family: Satoshi;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.info-desc {
  display: block;
  color: var(--nav-color);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

}

.icon-left {
  width: 56px;
  height: 56px;
  margin-top: 297px;
}

.icon-right {
  float: right;
  width: 104px;
  height: 104px;
  margin-top: 86px;
}





/*------------------------------------*\
  #SECTION BRAND
\*------------------------------------*/

.brand-section {
  background-color: var(--primary-color);
}

.brand-bar {
  display: flex;
  justify-content: space-between;
}

.brand-item {
  padding: 43px 0;
}





/*------------------------------------*\
  #SECTION ARRIVAL
\*------------------------------------*/

.arrival-section {
  text-align: center;
  border-bottom: 1px solid  var(--line-color);
}

.secondary-title {
  font-size: 48px;
  margin-top: 72px;
  margin-bottom: 55px;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.product-item {
  text-align: left;
}

.product-item:hover {
  cursor: pointer;
}

.product-img {
  border-radius: 20px;
  width: 296px;
  height: 299px;
}

.name {
  font-size: 20px;
  font-weight: 700;
}

.evaluate {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.evaluate-num {
  font-weight: 400;
  font-size: 14px;
  margin-left: 13px;
}

.span-num {
  font-size: 14px;
  font-weight: 400;
  color: var(--nav-color);
}

.product-desc {
  display: flex;
  align-items: center;
  width: 180px;
  justify-content: space-between;
}

.price {
  font-size: 24px;
  font-weight: 700;
}

.sell {
  font-size: 24px;
  font-weight: 700;
  text-decoration: line-through;
  color: var(--num-color)
}

.percent {
  font-size: 12px;
  font-weight: 500;
  border-radius: 62px;
  color: var(--product-color)
}

.btn-secondary {
  margin-top: 36px;
  margin-bottom: 64px;
  font-size: 16px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: var(--btn-primary);
}





/*------------------------------------*\
  #TOP SELLING SECTION
\*------------------------------------*/

.topsell-section {
  text-align: center;
}





/* BROWES SECTION */

.browse-section {
  border-radius: 40px;
  background-color: var(--secondary-color);
}

.third-title {
  padding: 70px 0;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.browes-item {
  display: grid;
}

.browes-img {
  border-radius: 40px;
  padding: 5px;
}

.browes-img:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.desc {
  position: absolute;
  font-size: 36px;
  font-weight: 700;
  display: block;
}

.desc:hover {
  color: var(--primary-color);
  cursor: pointer;
}






/*------------------------------------*\
  #SECTION OUR HAPPY CUSTOMERS
\*------------------------------------*/

.customer {
  height: 400px;
}

.fourth-title {
  padding-top: 80px;
  padding-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
}

.customer-list {
  display: flex;
  justify-content: space-between;
}

.customer-item {
  padding: 28px 32px 28px 32px;
  width: 333px;
  height: 200px;
  border-radius: 20px;
  border: 1px solid var(--secondary-color);
}

.customer-desc {
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
}

.customer-comments {
  display: block;
  color: var(--fiveth-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 12px;
}

.customer-icon {
  position: absolute;
  margin-top: 1px;
}

.next-btn {
  position: absolute;
  margin-top: -40px;
  margin-left: 1220px;
}

.prev-btn {
  position: absolute;
  margin-top: -40px;
  margin-left: 1184px;
}





/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer {
  height: 600px;
  margin-top: 82px;
  background-color: var(--secondary-color);
}

.footer-legend {
  width: 1112px;
  height: 108px;
  background-color: var(--primary-color);
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 64px 36px 64px;
}

.fiveth-title {
  color: var(--text-color);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  width: 551px;
  height: 94px;
}

.contact-email {
  width: 245px;
  height: 42px;
  display: flex;
  border-radius: 62px;
  margin-right: 64px;
  background-image: url("../assets/images/email-icon.svg");
  background-repeat: no-repeat;
  background-position: 12px 12px;
  padding: 2px 52px;
  border: var(--search-border);
  margin-bottom: 14px;
}

.btn-contact {
  width: 349px;
  height: 46px;
  font-size: 16px;
  border-radius: 62px;
  padding: 2px 53.5px;
  text-align: center;
  border: var(--search-border);
}

.btn-contact:hover {
  background-color: var(--btn-primary);
  color: var(--primary-color);
}

.footer-th {
  padding-top: 50px;
  text-align: left;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.footer-contact {
  position: absolute;
  margin-left: 930px;
  margin-top: -142px;

}

.footer-desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.footer-tbl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  color: var(--primary-color);
  font-family: Integral CF;
  font-size: 33.455px;
  font-weight: 700;
  position: absolute;
  margin-top: 16px;
}

.list-item {
  margin-top: 25px;
  margin-bottom: 25px;
}

.item-primary {
  margin-bottom: 23px;
  color: var(--nav-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.item-secondary {
  width: 288px;
  color: var(--nav-color);
  margin-bottom: 35px;
  margin-top: 72px;
}

.nav-item-link {
  color: var(--nav-color);
  text-decoration: none;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  align-items: flex-start;
}

.copyright {
  margin-top: 10px;
}

.payment-icon {
  float: right;
  width: 46px;
  height: 30px;
  margin-right: 12px;
}

#social {
  position: relative;
  margin-bottom: 54px;
}

.social-item {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
  height: 28px;
  display: block;
}

.social-link {
  display: block;
  height: 20px;
}

#twitter {
  left: 0px;
  width: 30px;
  background: url('../assets/images/social.svg') 0 0;
}

#fb {
  left: 40px;
  width: 30px;
  background: url('../assets/images/social.svg') -40px 0;
}

#instagram {
  left: 80px;
  width: 30px;
  background: url('../assets/images/social.svg') -80px 0;
}

#github {
  left: 120px;
  width: 28px;
  background: url('../assets/images/social.svg') -120px 0;
}