.product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(358px, 1fr));
    /* grid-template-rows: auto 30rem; */
    /* column-gap: 1rem; */
    max-width: 100%;
    /* row-gap: 1rem; */
    /* gap: 1rem; */
}


.product__item {
    border: 1px solid green;
    text-align: center;
}

.repeat {
    display: grid;
    grid-template-columns: 100px repeat(2, 2fr 1fr 1fr);
}

.auto-fill {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.auto-fit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.place-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    /* grid-auto-flow: row; */
    grid-auto-flow: column;
    max-width: 20rem;
    gap: 10px;
}

.span-track {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.span-track--col {
    grid-column: 1 / span 3;
}

.span-track--row {
    grid-row: 2 / span 3;
}

.negative {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.negative__item {
    grid-column: 2 / -3;
    background-color: aqua;
    /* grid-row: 1 / -4; */
}

.size-implicit {
    display: grid;
    /* grid-auto-rows: minmax(1em, 8em); */
    grid-auto-columns: 500px 1fr;
}

.name-grid {
    display: grid;
    grid-template-columns:  [main-start aside-start] 100px  [aside-end content-start] 355px [content-end main-end];
    gap: 10px;
}

.name-grid__sidebar {
    grid-column: main-start / aside-end;
}

.name-grid__footer {
    grid-column: aside-end / main-end
}

@media (min-width: 768px) {
    .product {
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }
}


@media (min-width: 1024px) {
    .product {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}