@import url("https://fonts.cdnfonts.com/css/satoshi");
.footer__action, .footer__contact, .banner__img, .banner__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer .copyright, .footer__contact, .browse__wrapper, .browse__wrapper-xxl, .brand__wrapper, .navbar {
  display: flex;
  align-items: center;
}

.banner__content, .banner__wrapper {
  display: flex;
  flex-wrap: wrap;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Integral CF, Satoshi;
  font-size: 20px;
}

@font-face {
  font-family: "Integral CF";
  src: url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.eot");
  src: url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.woff") format("woff"), url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.svg#Integral CF Regular") format("svg");
}
.container, .footer .copyright {
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .container, .footer .copyright {
    max-width: 1240px;
  }
}
.sign-up {
  background-color: black;
  font-family: Satoshi;
  min-width: 19.5rem;
}
.sign-up__item {
  margin: 0 auto;
  font-size: 1rem;
}
.sign-up__link {
  color: black;
}
.sign-up__desc {
  font-size: 0.6rem;
  color: #fff;
  text-align: center;
  padding: 0.45rem 0;
}
.sign-up__advertise {
  color: #fff;
}
.sign-up__off {
  display: none;
  padding: 0.45rem 0;
}

@media (min-width: 1440px) {
  .sign-up__item {
    display: flex;
    line-height: normal;
  }
  .sign-up__desc {
    font-size: 0.7rem;
    margin: 0 auto;
  }
  .sign-up__off {
    display: block;
  }
}
.navbar {
  font-family: Satoshi;
  padding: 1rem 0;
  gap: 0.6rem;
  width: 91.7948717949%;
  margin: 0 auto;
}
.navbar__option {
  display: flex;
  margin-left: auto;
  gap: 0.5rem;
}
.navbar__list, .navbar__search {
  display: none;
}
.navbar__nav {
  border: none;
  background-color: #fff;
}

@media (min-width: 1440px) {
  .navbar {
    display: grid;
    grid-template-columns: 8rem 16.05rem 1fr 3.1rem;
    gap: 2rem;
    font-size: 0.5rem;
    font-size: 0.8rem;
    align-items: center;
  }
  .navbar__nav, .navbar__option-search {
    display: none;
  }
  .navbar__option {
    justify-content: space-around;
    margin-left: 0;
  }
  .navbar__logo {
    width: 100%;
  }
  .navbar__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar__search {
    display: block;
    height: 2.4rem;
    border-radius: 3.1rem;
    width: 100%;
    background-image: url("../assets/images/headers/search.svg");
    background-repeat: no-repeat;
    background-position: 0.6rem 0.6rem;
    padding: 0.1rem 2.6rem;
    border: 1px solid #f0f0f0;
  }
}
.banner {
  background-color: #f2f0f1;
  font-family: Satoshi;
  min-width: 19.5rem;
}
.banner__title {
  font-size: 1.8rem;
  margin: 0 auto;
  line-height: 57px;
}
.banner__content {
  padding: 2rem 4.1025641026% 0;
  gap: 1rem;
  margin-left: auto;
  width: 100%;
}
.banner__btn {
  margin-top: 0.2rem;
  padding: 0.75rem 7.075rem;
  max-height: 48px;
  width: 100%;
}
.banner__desc {
  font-size: 0.7rem;
  margin: 0 auto;
  line-height: 1rem;
}
.banner__img {
  background-image: url("../assets/images/banners/bg-banner.svg");
  min-width: 19.5rem;
  min-height: 22.4rem;
  margin: 0 auto;
  height: 100%;
}
.banner__img-left {
  margin: 6.85rem 0 0 1.35rem;
  width: 2.2rem;
  height: 2.2rem;
}
.banner__img-right {
  width: 3.8rem;
  height: 3.8rem;
  margin: 2rem 1.05rem 0 0;
}

@media (min-width: 1440px) {
  .banner {
    background-image: url("../assets/images/banners/rectangle.png");
    background-repeat: no-repeat;
    background-position: center;
    flex-wrap: nowrap;
  }
  .banner__wrapper {
    margin: 0 auto;
    flex-wrap: nowrap;
    width: 100%;
  }
  .banner__content {
    padding: 5.15rem 0;
    min-width: 29.8rem;
    gap: 1.6rem;
    text-align: left;
  }
  .banner__title {
    font-size: 3.2rem;
  }
  .banner__btn {
    padding: 0.75rem 3.375rem;
    margin-top: 0rem;
    margin-bottom: 0.8rem;
    min-width: 10.55rem;
    min-height: 2.6rem;
    max-width: 10.9rem;
  }
  .banner__desc {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }
  .banner__img {
    background-image: none;
    min-width: 37.2rem;
    height: 663px;
    min-width: 37.2rem;
    min-height: 33.15rem;
  }
  .banner__img-left {
    width: 2.8rem;
    height: 2.8rem;
    margin-top: 16.25rem;
  }
  .banner__img-right {
    width: 5.2rem;
    height: 5.2rem;
    margin-top: 4.3rem;
    margin-right: 9.5138888889%;
  }
}
.brand {
  background-color: black;
  padding: 1.95rem 0.8rem;
}
.brand__wrapper {
  flex-wrap: wrap;
  gap: 1.1rem;
  justify-content: center;
  max-width: 480px;
}
.brand__wrapper-xxl {
  display: none;
}
.brand__img {
  margin: auto;
}

@media (min-width: 1440px) {
  .brand {
    max-width: 100%;
  }
  .brand__wrapper {
    display: none;
  }
  .brand__wrapper-xxl {
    display: flex;
    justify-content: space-between;
  }
  .brand__img {
    margin: 0;
  }
}
.browse {
  background-color: #f2f0f1;
  text-align: center;
  border-radius: 1rem;
  margin: 0 auto;
  padding: 2rem 0 0.65rem 0;
  width: 91.7948717949%;
  margin-bottom: 2.5rem;
}
.browse__title {
  padding: 0rem 2.8rem;
  font-size: 1.6rem;
}
.browse__wrapper, .browse__wrapper-xxl {
  flex-wrap: wrap;
  gap: 0.4rem;
  padding: 1.4rem 0 0.65rem;
  justify-content: center;
}
.browse__img {
  border-radius: 1rem;
  width: 50%;
  min-height: max-content;
}
.browse__wrapper-xxl {
  display: none;
}

@media (min-width: 1440px) {
  .browse {
    padding: 3.5rem 3.2rem 3.8rem 3.2rem;
    width: 100%;
    margin-bottom: 4rem;
  }
  .browse__title {
    font-size: 2.4rem;
  }
  .browse__img {
    flex-basis: 0;
    width: 100%;
    height: max-content;
  }
  .browse__wrapper-xxl {
    display: flex;
    gap: 1rem;
    padding-top: 3.2rem;
  }
  .browse__wrapper {
    display: none;
  }
}
.comment {
  font-family: Satoshi;
  margin-bottom: 2.4905rem;
  width: 91.7948717949%;
}
.comment__heading {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}
.comment__action {
  display: flex;
}
.comment__title {
  font-size: 1.6rem;
}
.comment__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  gap: 1rem;
}
.comment-item {
  padding: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  min-width: 17.9rem;
  align-items: center;
}
.comment-feedback {
  margin-bottom: 0.6rem;
}
.comment-item__name {
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 0.575rem;
  display: flex;
  align-items: center;
}
.comment-item__img {
  width: 0.95rem;
  height: 0.95rem;
  margin-left: 0.2875rem;
}
.comment-item__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

@media (min-width: 1440px) {
  .comment {
    width: 100%;
    margin-bottom: 4.021rem;
  }
  .comment__heading {
    margin-bottom: 1rem;
  }
  .comment__title {
    font-size: 2.4rem;
  }
  .comment-item {
    padding: 1.4rem 1.6rem;
  }
  .comment-feedback {
    margin-bottom: 0.75rem;
  }
  .comment-item__name {
    font-size: 1rem;
    margin-bottom: 0.6rem;
  }
  .comment-item__img {
    width: 0.975rem;
    height: 0.975rem;
    margin-left: 0.3125rem;
  }
  .comment-item__desc {
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1.1rem;
  }
}
.footer {
  background-color: #f2f0f1;
  font-family: Satoshi;
  min-width: 390;
}
.footer__title {
  font-size: 1.6rem;
  margin: 0 auto;
  line-height: 1.75rem;
}
.footer__contact {
  flex-wrap: wrap;
  border-radius: 1rem;
  background-color: black;
  color: #fff;
  padding: 1.6rem 1.2rem;
  gap: 1.6rem;
  width: 91.7948717949%;
  margin-bottom: 1.579rem;
}
.footer__contact-box {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin: 0 auto;
  max-width: 15.55rem;
  font-size: 0.7rem;
}
.footer__contact-form {
  border-radius: 3.1rem;
  background-image: url("../assets/images/footers/email-icon.svg");
  background-repeat: no-repeat;
  background-position: center left;
  background-position: 0.5rem;
  padding: 0.575rem 5.6rem 0.575rem 2.4rem;
  border: 1px solid #f0f0f0;
  min-height: 2.1rem;
}
.footer__btn {
  padding: 0.6rem 4.025rem;
}
.footer__action {
  flex-wrap: wrap;
  gap: 1.221rem;
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 91.7948717949%;
  margin: 0 auto;
  padding-bottom: 2rem;
}
.footer__logo {
  width: 7.2rem;
  height: 1rem;
}
.footer__desc {
  width: 100%;
  font-size: 0.7rem;
}
.footer__group {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7.3rem 7.3rem;
  gap: 1.2rem;
}
.footer__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.7rem;
}
.footer__item-head {
  font-weight: 500;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: black;
}
.footer__social {
  display: flex;
  gap: 0.6rem;
}
.footer .footer__icon {
  width: 1.4rem;
  height: 1.4rem;
}
.footer .copyright {
  margin-bottom: 3.863rem;
  margin-top: 0.8rem;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.6);
}
.footer .copyright__img {
  width: 1.998rem;
  height: 1.287rem;
}

@media (min-width: 1440px) {
  .footer__title {
    margin: 0;
    font-size: 2rem;
    flex-basis: 50%;
  }
  .footer__contact {
    padding: 1.8rem 3.2rem;
    margin-bottom: 2.5rem;
    font-size: 0.8rem;
  }
  .footer__contact-box {
    min-width: 17.45rem;
    gap: 0.7rem;
    margin: 0;
    font-size: 0.8rem;
  }
  .footer__contact-form {
    min-height: 2.6rem;
    font-weight: 400;
  }
  .footer__btn {
    padding: 0.775rem 4.425rem;
    max-height: 2.6rem;
  }
  .footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.7rem;
  }
  .footer__logo {
    width: 8.35rem;
    height: 1.15rem;
  }
  .footer__desc {
    width: 12.4rem;
  }
  .footer__action {
    flex-wrap: nowrap;
    gap: 5.6575rem;
    font-size: 0.8rem;
    padding-bottom: 2.5rem;
  }
  .footer__group {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    gap: 5.6575rem;
  }
  .footer .copyright {
    flex-direction: row;
    font-size: 0.8rem;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 4.0985rem;
  }
  .footer .copyright__img {
    width: 2.3305rem;
    height: 1.5015rem;
  }
}
.arrival {
  padding-top: 2.5rem;
  margin-left: 4.1025641026%;
  text-align: center;
}
.arrival__title {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
}
.arrival__products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.8rem;
  overflow: auto;
}
.arrival__products::-webkit-scrollbar {
  display: none;
}
.arrival__product {
  margin-bottom: 1.2rem;
  text-align: left;
}
.arrival__box-btn {
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 95.7219251337%;
}
.arrival__btn {
  padding: 0.75rem 7.675rem;
  width: 100%;
}

@media (min-width: 1440px) {
  .arrival {
    margin: 0;
    padding: 3.6rem 0rem 0 0rem;
  }
  .arrival__title {
    margin-bottom: 2.75rem;
    font-size: 2.4rem;
  }
  .arrival__product {
    margin-bottom: 1.8rem;
  }
  .arrival__box-btn {
    width: 100%;
    padding-bottom: 3.2rem;
  }
  .arrival__btn {
    padding: 15px 4rem;
    width: max-content;
  }
}
.top-selling {
  padding-top: 40px;
  padding-bottom: 50px;
  margin-left: 4.1025641026%;
  text-align: center;
}
.top-selling__title {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
}
.top-selling__products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.8rem;
  overflow: auto;
}
.top-selling__products::-webkit-scrollbar {
  display: none;
}
.top-selling__product {
  margin-bottom: 1.2rem;
  text-align: left;
}
.top-selling__btn {
  padding: 0.75rem 7.675rem;
  margin-right: 4.1025641026%;
  width: 95.7219251337%;
}

@media (min-width: 1440px) {
  .top-selling {
    margin: 0;
    padding: 3.2rem 0rem 4rem 0rem;
  }
  .top-selling__title {
    margin-bottom: 2.75rem;
    font-size: 2.4rem;
  }
  .top-selling__product {
    margin-bottom: 1.8rem;
  }
  .top-selling__btn {
    padding: 15px 4rem;
    width: max-content;
    margin-right: 0;
  }
}
.btn {
  border-radius: 3.1rem;
  font-family: Satoshi;
  border: none;
  font-weight: 500;
  font-size: 0.7rem;
}
.btn:hover {
  background-color: #e7e7e7;
}
.btn--primary {
  background-color: black;
  color: #fff;
}
.btn--secondary {
  color: #fff;
  color: black;
}

@media (min-width: 1440px) {
  .btn {
    font-size: 0.8rem;
  }
}
.title {
  font-family: Integral CF;
  font-weight: 700;
}

.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  row-gap: 0.6rem;
}
.info__head {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.3rem 0;
}
.info__desc {
  font-size: 0.6rem;
}
.info__box--line {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.info__box {
  width: 50%;
  margin: 0 auto;
}
.info__item {
  width: max-content;
  text-align: left;
  display: grid;
  grid-template-columns: auto;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .info {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .info__head {
    font-size: 2rem;
  }
  .info__desc {
    font-size: 0.8rem;
  }
  .info__box {
    width: auto;
    margin: 0;
  }
  .info__box--line {
    width: 36.9%;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.desc {
  font-family: Satoshi;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  display: block;
}

.evaluate-product {
  margin-bottom: 0.2rem;
}
.evaluate-product__img {
  width: 0.7735rem;
  height: 0.7735rem;
}

.evaluate-comment__img {
  width: 0.9595rem;
  height: 0.9595rem;
}

@media (min-width: 1440px) {
  .evaluate-product__img {
    width: 0.9245rem;
    height: 0.9245rem;
  }
  .evaluate-comment__img {
    width: 1.129rem;
    height: 1.129rem;
  }
}
.price {
  font-family: Satoshi;
  font-weight: 700;
}
.price__sell {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: line-through;
}
.price__precent {
  background-color: rgba(255, 51, 51, 0.1);
  font-size: 0.5rem;
  border-radius: 3.1rem;
  color: #ff3333;
  font-weight: 500;
  padding: 0.3rem 0.7rem;
}

@media (min-width: 1440px) {
  .price {
    font-size: 1.2rem;
  }
}
.product {
  min-width: 9.45rem;
  flex-direction: column;
  align-self: flex-end;
}
.product__img {
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
}
.product__name {
  font-family: Satoshi;
  margin-bottom: 0.2rem;
  font-weight: 700;
  font-size: 0.8rem;
}
.product__feedback-wrapper {
  display: flex;
  align-items: center;
  gap: 0.55rem;
}
.product__feedback-score {
  font-family: Satoshi;
  font-size: 0.6rem;
  font-weight: 400;
}
.product__feedback-score-max {
  color: rgba(0, 0, 0, 0.6);
}
.product__price {
  display: flex;
  gap: 0.25rem;
}

@media (min-width: 1440px) {
  .product__img {
    margin-bottom: 0.8rem;
  }
  .product__name {
    margin-bottom: 0.4rem;
    font-size: 1rem;
  }
  .product__feedback-wrapper {
    margin-bottom: 0.4rem;
  }
  .product__feedback-score {
    font-size: 0.7rem;
  }
  .product__price {
    gap: 0.5rem;
  }
}

/*# sourceMappingURL=index.css.map */
