// variable color

$bg-color: black;
$secondary-color: #f0f0f0;
$text-color: #fff;
$decs-color: rgba(0, 0, 0, 0.40);
$product-color: #ff3333;
$primary-color: rgba(0, 0, 0, 0.60);
$btn-primary: #e7e7e7;
$line-color: rgba(0, 0, 0, 0.10);
