// variable color

$bg-color: black;
$bg-secondary: #f2f0f1;
$secondary-color: #f0f0f0;
$text-color: #fff;
$decs-color: rgba(0, 0, 0, 0.40);
$product-color: #ff3333;
$primary-color: rgba(0, 0, 0, 0.60);
$btn-primary: #e7e7e7;
$line-color: rgba(0, 0, 0, 0.10);
$bg-product: rgba(255, 51, 51, 0.1);

//size
$size : 20px;
$xxl : 1240px;