.btn {
  border-radius: toRem(62px);
  font-family: Satoshi;
  border: none;
  font-weight: 500;
  font-size: toRem(14px);

  &:hover {
    background-color: $btn-primary;
  }

  &--primary {
    background-color: $bg-color;
    color: $text-color;
  }

  &--secondary {
    color: $text-color;
    color: $bg-color;
  }
}

@media (min-width: 1440px) {
  .btn {
    font-size: toRem(16px);
  }
}