.btn {
  width: 358px;
  height: 52px;
  border-radius: 62px;

  &__primary {
    background-color: $bg-color;
    color: $text-color;
  }
}

@media (min-width: 1024px) {
  .btn {
    width: 218px;
  }
}