
.btn {
  width:  358px;
  height: 52px;
  border-radius: toRem(62);
  font-family: Satoshi;
  border: none;
  font-weight: 500;

  &__primary {
    @extend .btn;
    background-color: $bg-color;
    color: $text-color;
  }

  &__secondary {
    @extend .btn;
    color: $text-color;
    color: $bg-color;
  }

  &:hover {
    background-color: $btn-primary;
  }
}

@media (min-width: 1440px) {
  @function toRem($pxValue) {
    @return math.div($pxValue, 32) * 1rem;
  }

  .btn {
    width: 218px;

    &__secondary {
      margin: toRem(36) 0;
    }
  }
}