.card {
  @extend %flexbox-items-centered;
  justify-content: space-between;

  &__name {
    font-weight: 700;
    font-size: toRem(16px);
    @extend %flexbox-items-centered;
    @extend %flexbox-items-wraped;
    width: 100%;
  }

  &__primary {
    @extend %flexbox-items-wraped;
    justify-content: space-between;
    min-width: toRem(198px);
    min-height: toRem(283px);

    &-img {
      @include img-size(toRem(198px), toRem(200px));
      border-radius: toRem(12.42px);
    }
  }

  &__secondary {
    padding: toRem(24px);
    min-width: toRem(358px);
    min-height: toRem(186.19px);
    border: 1px solid $line-color;
    border-radius: toRem(20px);
    &-img {
      @include img-size(toRem(15.44px));
    }
  }
}

@media (min-width: 1440px) {
  .card {
    overflow: none;

    &__name {
      font-size: toRem(20px);
    }

    .card__primary {
      width: toRem(295px);
      min-height: toRem(399px);
      margin-bottom: toRem(36px);

      &-img {
        border-radius: toRem(20px);
        @include img-size(toRem(295px),toRem(298px));
      }
    }

    &__secondary {
      min-height: toRem(240px);
      padding: toRem(28px) toRem(32px);

      &-img {
        @include img-size(toRem(24px));
      }
    }
  }
}