.desc {
  font-family: Satoshi;
  color: $primary-color;
  font-weight: 400;
  font-size: 12px;
  display: block;
}

.desc-primary {
    display: block;
    font-size: toRem(14px);
    max-width: toRem(358px);
    margin-top: 8px;
}

.desc-secondary {
  font-size: toRem(14px);
}

@media (min-width : 1440px) {
  .desc {
    font-size: 16px;
  }

  .desc-primary {
      margin-top: 12px;
      font-size: toRem(16px);
      max-width: toRem(545px);
  }
}