.evaluate {
  @extend %flexbox-items-centered;
  gap: toRem(4.44px);
  padding: toRem(4px) 0;

  &__img {
    @include img-size(toRem(15.47px));
  }

  &__num {
    font-size: 0.6rem;
  }

  &__desc {
    color: $primary-color;
  }
}

@media (min-width: 1440px) {
  .evaluate {
    gap: toRem(5.31px);
    padding: toRem(8px) 0;

    &__img {
      @include img-size(toRem(18.49px));
    }

    &__num {
      font-size: toRem(14px);
    }
  }
}