.info {
  @extend %flexbox-items-space-between;
  flex-wrap: wrap;
  padding: 0 toRem(40px);
  gap: toRem(12px);
  column-gap: auto;
  margin: 0 auto;

  &__center {
    margin: 0 auto;
    display: block;
  }

  &__line {
    padding: 0 0 0 27.5px;
    border-left: 1px solid $line-color;
  }

  &__head {
    font-size: toRem(24px);
    font-weight: 700;
    padding: toRem(6px) 0;
    margin-right: auto;
  }
}

@media (min-width: 1440px) {
  .info {
    flex-wrap: nowrap;
    width: 100%;
    text-align: left;
    gap: 1rem;
    margin: 0;
    justify-content: space-between;
    padding: 0 0px;

    &__center {
      margin: 0 0;
    }

    &__line {
      padding: 0 toRem(36px);
      border-right: 1px solid $line-color;
    }

    &__head {
      font-size: toRem(40px);
      font-weight: 700;
    }
  }
}