.info {
  @extend %flexbox-items-space-between;
  display: flex;
  flex-wrap: wrap;
  padding: 0 toRem(40px);
  gap: toRem(12px);
  column-gap: auto;
  margin: auto;
  width: 100%;

  &__item {
    padding: 0;

    &--center {
      margin: auto;
    }

    &--line {
      padding-left: toRem(27.5px);
      border-left: 1px solid $line-color;
    }
  }

  &__desc {
    font-size: toRem(12px);
  }

  &__head {
    font-size: toRem(24px);
    font-weight: 700;
    padding: toRem(6px) 0;
    margin-right: auto;
  }
}

@media (min-width: 1440px) {
  .info {
    flex-wrap: nowrap;
    width: 100%;
    text-align: left;
    gap: 1rem;
    margin: 0;
    justify-content: space-between;
    padding: 0 0px;

    &__item {

      &--center {
        margin: 0;
      }

      &--line {
        padding: 0 toRem(32px);
        border-right: 1px solid $line-color;
      }
    }

      &__head {
        font-size: toRem(40px);
      }

    &__desc {
      font-size: toRem(16px);
    }
  }
}