.title {
  font-family: Integral CF;
  font-weight: 700;
}

.title-secondary {
  font-size: 1.8em;
  font-weight: 700;
  max-width: ToRem(315);
}

@media (min-width: 1440px) {
  .title-primary {
    font-size: 2em;
  }

  .title-secondary {
    font-size: 2em;
    max-width: ToRem(577);
  }
}